/* 전체 */
#noticeWriteContentAll{
    padding: 20px 30px;
    width: 1000px;
    border: 1px solid black;
}

/* 테이블 전체 */
#noticeWriteContentAll table{
    margin-left: auto;
    margin-right: auto;
}

/* 테이블 헤드 */
#noticeWriteContentAll thead{
    float: left;
}
#noticeWriteContentAll th{
    display: block;
    background-color: green;
}

/* 테이블 바디 */
#noticeWriteContentAll tbody{
    display: block;
    overflow-x: hidden;
}
#noticeWriteContentAll td{
    display: block;
}