#listContentAll{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

/* 페이지 안내 제목
공지사항 */
#noticeTitle{
    margin-left: 30px;
    margin-bottom: -10px;
}

/* 위치 안내
홈>공지사항 */
#noticeLocationInformation{
    margin-bottom: 30px;
    display: flex;
    list-style-type: none;
    font-size: 15px;
}
#noticeLocationInformation li:last-child:before{
    content: ">";
}

/* 리스트 상단
총합~등록 버튼 */
#topContentGroup{
    width: 100%;
    height: 31px;
}
/* 총 개수 */
#totalNotice{
    margin-left: 30px;
    float: left;
    font-size: 14px;
}

/* 등록 버튼 */
#btnAdd{
    padding: 5px 13px;
    margin-right: 20px;
    float: right;
}

/* 테이블 전체 */
#noticeTable, #noticeTable th, #noticeTable td{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 14px;
}

/*테이블 헤드 전체 */
#noticeTable th{
    padding: 12px 0px;
}

/* 테이블 바디 전체 */
#noticeTable td{
    padding: 14px 10px;
}

/* 테이블 첫 번째 열 - 번호 */
#firstTable{
    width: 50px;
    text-align: center;
}

/* 테이블 두 번째 열 - 제목 */
#secondTable{
    width: 830px;
}

/* 테이블 마지막 열 - 작성자 */
#thirdTable{
    width: 100px;
    text-align: center;
}

/*테이블 각 바디 행*/
#noticeTable tbody tr:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

/* 페이징 */
#noticePaging{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}